<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price History Tracker</title>
    <link rel="stylesheet" href="/css/editResult.css">
  </head>
  <body>
    <% if(valid) { %>
    <h1>User was added Successfully</h1>
    <% } else { %>
    <h1>Something went wrong, some fields might be empty or invalid.</h1>
    <% } %>
    <div>
      <h2><a href="/home">Home</a> <a href="/endUsers">All users</a></h2>
    </div>
  </body>
</html>
