<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price History Tracker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>Welcome to Price History Tracker Database</h1>
    <h1>Relations</h1>
    <div class="database">
      <h2>
        <a href="/endUsers">(1) End User</a>
        <a href="/products">(2) All Products</a>
      </h2>
    </div>
    <h1>SQL Queries</h1>
    <div class="queries">
      <h2>
        <a href="/queries">Run Queries</a>
      </h2>
    </div>
  </body>
</html>
