<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price History Tracker</title>
    <link rel="stylesheet" href="/css/queryInput.css" />
  </head>
  <body>
    <h1>You can type SQL Queries here and see the output.</h1>
    <form action="/queries" method="POST">
      <div class="queryBox">
        <label for="query">Enter your query</label>
        <textarea
          name="query"
          id="query"
          cols="30"
          rows="10"
          placeholder="Enter your query here"
        ></textarea>
        <button>Run</button>
      </div>
    </form>
    <h2>
      <a href="/home">Back to Home</a>
    </h2>
  </body>
</html>
